@import "../styles/main";

.Scroll {
  position: fixed;
  bottom: 120px;
  right: 24px;
  width: 38px;
  height: 38px;
  background: $colorBackground;
  border-radius: 50%;
  transition: background 0.3s;

  &:hover {
    background: $colorSelected;
  }
}

@media (min-width: $breakPointMobile) {
  .Scroll {
    display: none;
  }
}
