@import "../styles/main";

.Select {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border: 1px solid $colorIcons;
  transition: border-color 0.3s;
  margin-bottom: 24px;
  position: relative;

  &:hover {
    border-color: $colorPrimary;
  }

  &-Button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .button-image {
    transform-origin: center;
    transition: transform 0.3s;
  }

  .image_rotate > .button-image {
    transform: rotate(180deg);
  }

  &-Text {
    @include fontSet("Mont Semi Bold", 14px);
    color: $colorPrimary;
    line-height: 21px;
  }

  &-List {
    width: 100%;
    box-shadow: 0 2px 15px 0 #0000000d;
    border: 1px solid $colorElements;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 44px;
    cursor: pointer;
  }

  &-Item {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    @include fontSet("Mont Semi Bold", 14px);
    color: $colorSecondary;
    transition: border-color 0.3s;
    border: 1px solid $colorBackground;
    background: $colorBackground;

    &:hover {
      background: #e2e6e9ee;
      border-color: #e2e6e9ee;
    }
  }
}

.selected {
  color: $colorPrimary;
  background: #f5f8fa;
}
