$breakPointTablet: 1020px;
$breakPointMobile: 767px;
$breakPointMobileSmall: 555px;
$widthContent: calc(72.15vw + 97px);
$widthContentMobile: calc(100vw - 48px);
$colorBackground: #fff;
$colorPrimary: #313237;
$colorSecondary: #89939a;
$colorElements: #e2e6e9e8;
$colorIcons: #b4bdc3;
$colorHover: #fafbfc;
$colorCount: #eb5757;
$colorSelected: #27ae60;
